name: Package Integrity

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  package-integrity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install uv
        uv tool install tox --with tox-uv
    - name: Check generated files are up-to-date
      run: tox -e check-generated
    - name: Verify all packages build
      run: tox -e verify-builds
